{% extends "base.html" %}

{% block title %}List of borrows{% endblock %}

{% block content %}
  <h1>borrow List</h1>
  {% if borrow_list %}
    <ul>
      {% for borrow in borrow_list %}
      <li>
        <a href="{{ borrow.get_absolute_url }}">{{ borrow.name }}</a>
        ({{borrow.address}})
        ({{borrow.postcode}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no borrows in the database.</p>
  {% endif %}
{% endblock %}


{% comment %} {% if borrow_list %}
  <!-- code here to list the borrows -->
  {% elif var2 %}
{% else %}
  <p>There are no borrows in the library.</p>
{% endif %}
The template uses the for and endfor template tags 
to loop through the borrow list, as shown below. 
Each iteration populates the
borrow template variable with information for the current list item. 

While not used here, within the loop Django will also create other variables 
that you can use to track the iteration.
 For example, you can test the forloop.last variable to 
 perform conditional processing the last time that the loop is run. 
{% endcomment %}
