{% extends "base.html" %}

{% block content %}
  <h1>Name: {{ borrow.name }}</h1>

  {% comment %} <p><strong>Author:</strong> <a href="">{{ borrow.author }}</a></p>
  <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ borrow.summary }}</p>
  <p><strong>ISBN:</strong> {{ borrow.isbn }}</p>
  <p><strong>Language:</strong> {{ borrow.language }}</p>
  <p><strong>Genre:</strong> {{ borrow.genre.all|join:", " }}</p> {% endcomment %}
  
  {% comment %} 
  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

  {% for copy in borrow.borrowinstance_set.all %}
      <hr />
      <p
        class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p> 
    {% endfor %} 
  </div>{% endcomment %}
{% endblock %}
