{% extends "base.html" %}

{% block title %}List of Buildings{% endblock %}

{% block content %}
  <h1>Building List</h1>
  {% if building_list %}
    <ul>
      {% for building in building_list %}
      <li>
        <a href="{{ building.get_absolute_url }}">{{ building.name }}</a>
        ({{building.address}})
        ({{building.postcode}})
      </li>
      {% endfor %}
    </ul>

    <div class="container-fluid" id="e-details">
      <div class="">
          <dl>
              <dt>School ID</dt>
              <dd class="ps-4">{{building.code}}</dd>
              <dt>Department</dt>
              <dd class="ps-4">{{building.department}}</dd>
              <dt>Course</dt>
              <dd class="ps-4">{{building.course}}</dd>
              <dt>Name</dt>
              <dd class="ps-4">{{building.name}}</dd>
              <dt>Gender</dt>
              <dd class="ps-4">{{building.gender}}</dd>
              <dt>Contact #</dt>
              <dd class="ps-4">{{building.contact}}</dd>
              <dt>Email</dt>
              <dd class="ps-4">{{building.email}}</dd>
              <dt>Address</dt>
              <dd class="ps-4">{{building.address}}</dd>
              <dt>Status</dt>
              <dd class="ps-4">
                  {% if building.status == '1' %}
                  <span class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Active</span> {% else %}
                  <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Inactive</span> {% endif %}
              </dd>
          </dl>
      </div>
  </div>
  {% else %}
    <p>There are no buildings in the database.</p>
  {% endif %}
{% endblock %}
