{% extends 'inventory/base.html' %}
{% block title %}
    List of components
{% endblock %}
{% load static %}
{% block content %}
    {% if component_list %}



        <section class="py-4">

            <div style="overflow-x: scroll;" class="container">
                <h3 class="fw-bolder text-center">List of components</h3>
                <br/>
                <form action="{% url 'components' %}" class="mt-3 mb-3">


                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search for component"/>
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit">🚀</button>
                        </div>
                    </div>
                </form>


                <div class="card rounded-0 shadow">
                    <div class="card-body">
                        <div class="container-fluid">
                            <table class="table table-bordered table-striped" id="category-tbl">
                                <b>Search results for: "{{ search }}"</b>
                                <br>
                                <a href="{% url 'components' %}">Go back</a>
                                <colcategory>
                                    <col width="5%"/>
                                    <col width="7%"/>
                                    <col width="20%"/>
                                    <col width="20%"/>
                                    <col width="20%"/>
                                    <col width="20%"/>
                                    <col width="20%"/>
                                    <col width="5%"/>
                                </colcategory>
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>SKU | MPN | UPC</th>
                                    <th>Description</th>
                                    <th>Measurement Unit</th>
                                    <th>Storage Bins</th>
                                    <th>Barcode</th>

                                    <th>Qty</th>
                                </tr>
                                </thead>
                                <tbody id="databody">
                                {% for component in component_list %}
                                    <tr>
                                        <td style=" vertical-align: middle;" class="text-center">{{ component.pk }}</td>

                                        <td style=" vertical-align: middle;">
                                            <a href="{{ component.get_absolute_url }}">{{ component.name|capfirst }}</a>
                                        </td>

                                        <td style=" vertical-align: middle; ">{{ component.sku }} | {{ component.mpn }}
                                            | {{ component.upc }}</td>
                                        <td style=" vertical-align: middle;">
                                            <p style="font-size:15px; line-height: 1.5;">{{ component.description }}</p>
                                        </td>

                                        <td style=" vertical-align: middle; text-transform: capitalize; ">
                                            <a href="{{ component.measurement_unit.get_absolute_url }}">{{ component.measurement_unit.unit_name }}</a>
                                        </td>

                                        <td style="vertical-align: middle;  padding-left: 20px;text-transform: capitalize; ">
                                            {% for bin in component.storage_bin.all %}
                                                <li>
                                                    <a href="{{ bin.get_absolute_url }}">{{ bin.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </td>

                                        <td style=" vertical-align: middle; ">
                                            <img src="{{ component.barcode.url }} " style=" height: auto; width: 30%;"/>

                                            <br/>
                                            {{ component.barcode }}
                                        </td>
                                        <td style=" vertical-align: middle; ">{{ component.qty }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'components' %}?search={{ search }}&page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{% url 'components' %}?search={{ search }}&page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </section>

    {% else %}
        <p>There are no components in the database.</p>
    {% endif %}

    {% block scripts %}

    {% endblock %}
{% endblock %}
