{% extends "base.html" %}

{% block title %}List of components{% endblock %}

{% block content %}
  <h1>component List</h1>
  {% if component_list %}
    <ul>
      {% for component in component_list %}
      <li>
        <a href="{{ component.get_absolute_url }}">{{ component.name }}</a>
        ({{component.address}})
        ({{component.postcode}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no components in the database.</p>
  {% endif %}
{% endblock %}


{% comment %} {% if component_list %}
  <!-- code here to list the components -->
  {% elif var2 %}
{% else %}
  <p>There are no components in the library.</p>
{% endif %}
The template uses the for and endfor template tags 
to loop through the component list, as shown below. 
Each iteration populates the
component template variable with information for the current list item. 

While not used here, within the loop Django will also create other variables 
that you can use to track the iteration.
 For example, you can test the forloop.last variable to 
 perform conditional processing the last time that the loop is run. 
{% endcomment %}
