{% extends "base.html" %}

{% block title %}List of Buildings{% endblock %}

{% block content %}
  <h1>Buidling List</h1>
  {% if building_list %}
    <ul>
      {% for building in building_list %}
      <li>
        <a href="{{ building.get_absolute_url }}">{{ building.name }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no buildings in the database.</p>
  {% endif %}
{% endblock %}


{% comment %} {% if building_list %}
  <!-- code here to list the buildings -->
  {% elif var2 %}
{% else %}
  <p>There are no buildings in the library.</p>
{% endif %}
The template uses the for and endfor template tags 
to loop through the building list, as shown below. 
Each iteration populates the
building template variable with information for the current list item. 

While not used here, within the loop Django will also create other variables 
that you can use to track the iteration.
 For example, you can test the forloop.last variable to 
 perform conditional processing the last time that the loop is run. 
{% endcomment %}
