{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""/>
            MontyMaker Dashboard
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
              action="{% url 'asearch' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Search for..." aria-label="Search"
                       aria-describedby="basic-addon2"/>
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">🚀</button>
                </div>
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">👤</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item">{{ user.username }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <br/>
    <br/>
    <br/>
    <br/><br/>
    <ul>
        <li>
            <a href="{% url 'buildings' %}">All Buildings</a>
        </li>

        <li>
            <a href="{% url 'rooms' %}">All Rooms</a>
        </li>
        <li>
            <a href="{% url 'units' %}">All Storage Units</a>
        </li>
        <li>
            <a href="{% url 'bins' %}">All Storage Bins</a>
        </li>
        <li>
            <a href="{% url 'components' %}">All Components</a>
        </li>
        <li>
            <a href="{% url 'borrows' %}">All Borrows/Returns</a>
        </li>
        <li>
            <a href="{% url 'createborrowpage' %}">Borrow a Component</a>
        </li>

        <!-- <li><a href="{% url 'buildings'%}">All Buildings</a></li> -->
    </ul>

    <div id="wrapper" style="padding-top: 50px">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">

            <a href="{% url 'dashboard' %}">
                <span>Dashboard</span>
            </a>

            <a class="" href="">
                <span style="color: blue">Logged in as {{ user.username }}</span>
            </a>

            <a class="" href="{% url 'login_page' %}">
                <span style="color: blue">Login?</span>
            </a>

            {% comment %} <li class="nav-item">
        <a class="nav-link" href="{% url 'alchat' %}">
          <i class="fas fa-book text-primary"></i>
          <span style="color: white">Group Chat</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'aabook_form' %}">
          <i class="fas fa-book text-primary"></i>
          <span style="color: white">Add Book</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'albook' %}">
          <i class="fas fa-book text-primary"></i>
          <span style="color: white">Recent Added Books</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'ambook' %}">
          <i class="fas fa-book text-primary"></i>
          <span style="color: white">Manage Books</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'adrequest' %}">
          <i class="fas fa-book text-primary"></i>
          <span style="color: white">Delete Request</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'afeedback' %}">
          <i class="fas fa-book text-primary"></i>
          <span style="color: white">User Feedback</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'aluser' %}">
          <i class="fas fa-user text-primary"></i>
          <span style="color: white">Manage User</span>
        </a>
      </li> {% endcomment %}
        </ul>

        <!-- /.content-wrapper -->
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">x</span></button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
