{% extends 'dashboard/base.html' %}
{% load static %}
{% load custom_time_tags %}

{% block title %}
    Return Component
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="fw-bolder">Return Borrow</h3>
        <form action="{% url 'returncomponent' %}" method="POST" class="form-horizontal" novalidate="" id="borrow_form">
            <fieldset>
                {% csrf_token %}

                <div class="form-group">
                    <label class="col-sm-2 control-label">Component</label>

                    <div class="col-sm-10">
                        <select id="borrow_select_field" class="form-control" name="pk">
                            {% for bor in bors %}
                                <option borqty="{{ bor.qty }}"
                                        value="{{ bor.pk }}">{{ bor.component.name|capfirst }}
                                    | Qty borrowed: {{ bor.qty }} | ID: {{ bor.id }} | Person who created
                                    borrow: {{ bor.person_who_borrowed.username }}
                                    / {{ bor.person_who_borrowed.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-10 control-label">Qty you are returning</label>

                    <div class="col-sm-2">
                        <input id="qty-input-field" value=""/>
                    </div>
                </div>
                <div class=" form-group">
                    <label class="col-sm-12 control-label">Qty left that you need to return</label>

                    <div class="col-sm-2">
                        <input id="qty-result-field" class="form-control" name="qty_remaining" type="number" value=""
                               disabled="disabled"/>
                    </div>
                </div>


                <div class="form-group">
                    <!-- date:'Y-m-dTh:i' -->
                    <label class="col-sm-5 control-label">Timestamp returning component</label>

                    <div class="col-sm-10">
                        <input name="timestamp_check_in" class="form-control" type="datetime-local"
                               value="{% get_local_now_format '%Y-%m-%dT%H:%M:%S' %}"/>
                    </div>
                </div>


                <div class=" col-sm-5">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger " role="alert">
                                    <b>Please fix the error below:</b>
                                    <div class={{ message.tags }}>{{ message }}</div>
                                </div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert alert-success {{ message.tags }}" role="alert">
                                    <b>Success!</b>
                                    <div class={{ message.tags }}>{{ message }}</div>
                                </div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                <div class="alert alert-info" role="alert">
                                    <b>FYI:</b>
                                    <div class={{ message.tags }}>{{ message }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <input type="hidden" name="borrow_in_progress" id="borrowinprog">

                <div class="form-actions">
                    <button class="btn btn-primary js-tooltip" title=""
                            data-original-title="" onclick="onSubmit()">Submit return request
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    {% block scripts %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const qtyformfield = document.getElementById("qty-input-field")
                const qtyresultfield = document.getElementById("qty-result-field")
                const borSelectField = document.getElementById("borrow_select_field")
                qtyresultfield.value = borSelectField.options[borSelectField.selectedIndex].getAttribute("borqty")
                // Add an input event listener to the search input
                qtyformfield.addEventListener("keyup", function (e) {
                    // Check if the search input has any value

                    let qty = borSelectField.options[borSelectField.selectedIndex].getAttribute("borqty")
                    let qtyOfBorrow = parseInt(qty)
                    let qtyWantedToReturn = parseInt(e.target.value)
                    if (isNaN(qtyWantedToReturn)) {
                        qtyresultfield.value = qtyOfBorrow
                    } else {

                        qtyresultfield.value = (qtyOfBorrow - qtyWantedToReturn).toString()


                    }


                });
            });

            function onSubmit() {
                const borInProg = document.getElementById("borrowinprog")
                const qtyresultfield = document.getElementById("qty-result-field")
                qtyresultfield.disabled = false
                let qty = parseInt(qtyresultfield.value)
                if (qty > 0) {
                    borInProg.value = true
                } else if (qty === 0) {
                    borInProg.value = false
                }
                document.getElementById("borrow_form").submit();

            }

        </script>


    {% endblock %}

{% endblock %}
